@import "../variables.scss";

// -> PAGE CONTACT 
.content_contact{
    display: flex;
    justify-content: space-around;
    margin:10% 0 10% 10%;
    @media #{$medium-up}{
        flex-direction: column;
        width: auto;
    }
    .information{
        width: 40%;
        @media #{$medium-up}{
           width: auto;
           @include display-column;

        }
        p{
            font-size: 1.3em;
            text-align: start;
            padding-top:1em ;
            @media #{$medium-up}{
                font-size: 1em;
                margin-top: 10%;
            }
        }
        div{
            margin-top: 20%;
            height: 50%;
            display: flex;
            flex-direction: column;
            @media #{$medium-up}{
                margin-top: none;
                width: 100%;
            }
            span{
                align-items: center;
                color: $first_color;
                font-weight: 800;
                font-size: 20px;
                margin-bottom: 15%;
                @media #{$medium-up}{
                    font-size: 20px;
                    // align-content: flex-start;
                    text-align: center;
                }
                
                .icon_contact{
                    color: $second_color;
                    border-radius: 5px;
                    font-size: 35px;
                    padding: 0.1em;
                    position: relative;
                    vertical-align: middle;
                    @media #{$medium-up}{
                        margin-left: 10px;
                    }
                    
                }
               
            }
        }
    }
    .section-form{
        .form{
            width: 450px;
            height: 475px;
            border-radius: 25px;
            box-shadow: 0px 10px 16px $shadow_title;
            padding: 1em;
            @include display-column;
            @media #{$medium-up}{
                width: 100%;
                height: auto;
                padding-right: none;
                padding: none;
                @include display-center;
            }
            input, textarea{
                width: 300px;
                display: flex;
                align-items: flex-end;
                text-align: end;
                margin-bottom: 15px;
                vertical-align: text-top;
                @media #{$medium-up}{
                    width: 100%;
                    
                }
                
            }
        }
    }
}