@import "../variables.scss";

// -> PAGE CONTACT 
.content_contact{
    //  border:2px solid rebeccapurple;
    display: flex;
    justify-content: space-around;
    // height: 90%;
    margin-bottom: 10%;
    margin-left: 5%;
    @media #{$medium-up}{
        flex-direction: column;
        width: 110%;
    }
    .information{
        // border:2px solid royalblue;
        width: 40%;
        @media #{$medium-up}{
           width: auto;
        }
        p{
            font-size: 1.3em;
            text-align: start;
            @media #{$medium-up}{
                font-size: 1em;
                margin-top: 10%;
            }
        }
        div{
            // border:2px solid red;
            margin-top: 20%;
            height: 50%;
            @media #{$medium-up}{
                margin-top: none;
                width: 100%;
            }
            span{
                // border:2px solid greenyellow;
                align-items: center;
                color: $color_primary;
                font-weight: 800;
                font-size: 20px;
                margin-bottom: 15%;
                // height: 60%;
                @media #{$medium-up}{
                    font-size: 15px;
                    // margin-bottom: 5%;
                    align-content: flex-start;
                }
                
                .icon_contact{
                    color:black;
                    //background-color: black;
                    border-radius: 5px;
                    font-size: 35px;
                    padding: 0.1em;
                    // top:15%;
                    position: relative;
                    vertical-align: middle;
                    // border:2px solid black;
                    @media #{$medium-up}{
                        margin-left: 0;
                    }
                    
                }
                .phone{
                    @media #{$medium-up}{
                        margin-right: 20% !important;
                    }
                }
            }
        }
    }
    .section-form{
        //  border:2px solid red;
        .form{
            width: 450px;
            height: 475px;
            border-radius: 25px;
            box-shadow: 0px 3px 6px $shadow_title;
            padding: 1em;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: flex-end;
            padding-right: 15%;
            @media #{$medium-up}{
                width: 100%;
                height: auto;
                padding-right: none;
                padding: none;
                justify-content: flex-start;
                align-items: flex-start;
            }
            label{
                // border:2px solid red;
                vertical-align: top;
                @media #{$medium-up}{
                    vertical-align: none;    
                    margin-right: 0px;
                    text-align: start;
                }
              
            }
            input, textarea{
                width: 250px;
                align-items: flex-end;
                @media #{$medium-up}{
                    width: 70%;
                    
                }
                
            }
        }
    }
}