{% extends 'base.html.twig' %}

{% block title %}Page d'acceuil{% endblock %}

{% block body %}
<h1>Page d'acceuil</h1>
<a href="{{ path('register') }}">Inscription</a>
<a href="{{ path('login') }}">Connexion</a>
<a href="{{ path('logout') }}">Deconnexion</a>
{% for project in projects %}
    <li>{{ project.name }}</li>
{% endfor %}

{% endblock %}

