// @import "navbar.scss";
@import "../variables.scss";


.filter{
    border:1px solid $border;
    display: flex;
    justify-content: center;
    margin: 5%;
    span{
        width: 600px;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        padding: 1em;
        @media #{$medium-up}{
            display: flex;
            flex-direction: column;
            width: auto;
            text-align: center;
        }
    }
}
.all_projects{
    margin-left: 10%;
    display: flex;
    flex-direction: column;
    @media #{$medium-up}{
        margin: 0;
        width: 350px;
        display: flex;
        flex-direction: column;
    }
    .box_project{
        padding: 2em;
        width: 100%;
        @media #{$medium-up}{
            height: auto;
            display: flex;
            flex-direction: column;
            padding: auto;
        }
        img{
            z-index: 1;
            position: relative;
            width: 430px; 
            height:300px;
            @media #{$medium-up}{
                width: 430px;
                height: auto;
            }
        }
        .projet_contents{
            background-color: $color_primary;
            z-index:2;
            width: 40%;
            padding: 2em;
            margin-top: 0;
            position: absolute;
            text-align: start;
            align-content: center;
            margin-left: 25%;
            margin-top: 4%;
            @media #{$medium-up}{
                display: flex;
                flex-direction: column;
                margin-top: -90px;
                margin-left: 0;
                position: relative;
                width: 88.01%;
                border-radius: 0 0 15px 15px;
            }
            .projet_name{
                color: $background;
                font-size: 1.5em;
                font-weight: 700;
            }
            .projet_description{
                color: $background;
                font-size: 0.8em;
            }
            .projet_linkPage{
                font-style: oblique;
                color: $background;
            }
        }
    }
}