// PAGE PROJET DETAILS
@import "../variables.scss";

// Ici, un seul projet selectionner est affichée.
// La page contient plusieur elements: L'image, 
//  la decsription, les liens et les technos utilisé.

.singleProjet_content{
    width: 100%;
    padding: 1em;
    margin: 5% 0 5% 5%;
    @include display-center;
    @media #{$medium-up}{
        width: 120%;
        padding: 0;
        margin-left: -5%;
    }
    .singleProjet{
        @include display-column;
        @media #{$medium-up}{ 
            width: 90%;
            @include display-center;
        }
        img{
            width: 90%;
            @media #{$medium-up}{
                height: auto;
            }
        }
        // Description du projet
        .singleProjet_description{
            margin-top: 5%;
            width: 90%;
            height: auto;
            @media #{$medium-up}{
                width: 80%;
                margin-top: 10%;
            }
            hr{
                border:3px solid $first_color;
                width: 40px;
                position: relative;
                top: 15px ;
                margin: 0 0 -2% -7%;
                @media #{$medium-up}{
                    top: 20px;
                    left: -5%;
                    width: 23px;
                }
            }
            p{
                padding: 0 0 1.5em 3em;
                font-size: 1em;
                @media #{$medium-up}{
                    padding: 0.5em;
                    flex-wrap: wrap;
                }
            }
        }
    }
    .singleProjet_details{
        display: flex ;
        flex-direction: row;
        width: 90%;
        justify-content: space-between;
        margin-top: 5%;
        @media #{$medium-up}{
            flex-direction: column;
        }
        // Liens
        .singleProjet_links{
            width: 370px;
            height: auto;
            padding: 1em;
            @include display-column;
            line-height: 50px;
            background-color: $first_color;
            border-radius: 15px;
            vertical-align: middle;
            @media #{$medium-up}{
                height: 70%;
                width: auto;
                padding:0.5em;
                margin-bottom: 15%;
            }
            span{ 
                @media #{$medium-up}{
                   padding-left: 5%;
                }
                a{
                    font-size: large;
                    color: $white_color;
                    @media #{$medium-up}{
                        font-size: medium;
                    }
                }
            }
        }
        // Technologies
        .singleProjet_tech{
            width: 40%;
            padding: 1em;
            hr{
                border:3px solid $first_color;
                width: 43px;
                position: relative;
                top: 27px ;
                margin :0 0 -2% -20%;
                @media #{$medium-up}{
                    margin-top: 2%;
                    top:25px;
                    left: -5%;
                    width: 23px;
                }
            }
            li{
                font-weight: 700;
                @media #{$medium-up}{
                    width: 150px;
                    padding: 0.5em;
                }
            }
        }
    }
    // Lien page retour 
    .back{
        margin: 5%;
        text-align: center;
        font-weight: 600;
        a :hover{
            color:$first_color;
        }
    }
}