@import "../lib/responsive.scss";
@import "../variables.scss";


// --> Navbar de gauche 
header {
    background:$background;
    border-right:2px solid $border;
    width: 20%;
    position: fixed;
    height: 700px;
    left: 0;
    top: 0;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .logo{
        display: flex;
        width: 80%;
        justify-content: space-around;
        margin-top: 5%;
        .circle{
            height: 45px;
            width: 45px;
            border:2px solid black;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            text-align: center;
            align-items: center;
            font-size: 2em;
        }
        span{
            font-family: 'Roboto', sans-serif;
            font-weight: 900;
            font-size: 1.5em;
        }
    }
    .link{
        //border:2px solid red;
        display: flex;
        flex-direction: column;
        width: 80%;
        justify-content: space-between;
        margin-left: 10%;
        .item_logo{
            margin-bottom: 5%;
            display: flex;
            img{margin-right: 20px;}
            span{
                font-family: 'Roboto', sans-serif;
                font-weight: 800;
                font-size: 1.25em;
                text-decoration: none;
                color: black;
            }
        }
        
    }
    
}
// --> Navbar navigation
nav {
    height: 70px;
    border-bottom: 1px solid #EDEBEB;
    z-index: 1;
    position: fixed;
    top: 0;
    width: 100%;
    left: 0;
    display: flex;
    justify-content: end;
    align-items: center;
    li {
        display: inline;
        list-style: none;
        margin: 20px;
    }

}

a{
    color: black;
    text-decoration: none;
    &:hover{
        color:black;
        font-weight: 800;
        text-decoration: none;
        
    }
}
