

$border: #F7F7F7;
$background: #FFFFFF;
$color_primary: rgb(15, 76, 129);

$medium-up:"only screen and (max-width: 768px)";


body, html {
    height: 100%;
    margin: 0;
}


h1,h2,h3,p{
    color: black;
    font-family: 'Roboto', sans-serif;
}


hr{
    border:4px solid $color_primary;
    width: 43px;
}

h1{
    font-weight: 900;
    font-size: 4em;
    @media #{$medium-up}{font-size: 3em;}
}
h2{
    font-size: 2.5em ;
    font-weight: 800;
    // position: absolute;
    // transform: translate(-50%, -50%);
    letter-spacing: 0.1em;
    // -webkit-text-fill-color: black;
    // -webkit-text-stroke-width: 3px;
    // // -webkit-text-stroke-color: gray;
    // text-shadow: 48px 28px rebeccapurple,
    //             20px 20px red;
    text-shadow: 14px -12px 0px  #f2F2F2F2;



}

h3{
    
    font-weight: 600;
    font-size: 1.35em;
    text-transform: uppercase;
    letter-spacing: 5px;
    margin-bottom: 5%;
    @media #{$medium-up}{font-size: 1em; margin-bottom: 10%;}
}

