{% extends 'base.html.twig' %}
{% block title %}Page d'acceuil{% endblock %}
{% block body %}
    <section class="animate__animated animate__fadeInLeft">
        <img src='{{ asset('/img/profil.jpg') }}'/>
            <span>
                <hr>
            </span>
        <div >
            <h1 >Erreur 404</h1>
            <h3>Oups... Page introuvable</h2>
            <a href="/" style="color:blue;">Retour en page d'acceuil</a>    
        </div>
    </section>
{% endblock %}



