{% extends 'base.html.twig' %}
{% block title %}Error 404{% endblock %}
{% block body %}
    <section class="error">        
        <div>
            <h2>404</h2>
            <h3>Oups... Page introuvable</h2>
            <a class="button_error" href="/">Retour en page d'acceuil</a>
        </div>
    </section>
{% endblock %}



