{% extends 'base.html.twig' %}
{% block title %}Error 505{% endblock %}
{% block body %}
    <section class="error">        
        <div>
            <h2>500</h2>
            <h3>Oups... Notre serveur rencontre une panne momentané...</h2>
            <h3>Nous nous efforçons de régler le souci le plus rapidement possible</h3>
            <a class="button_error" href="/">Retour en page d'acceuil</a>
        </div>
    </section>
{% endblock %}