{% extends 'base.html.twig' %}

{% block title %}Hello ProjectController!{% endblock %}

{% block body %}
    <h2> projet name</h2>
{% for project in projects %}
    <p>{{ project.name }}</p>
{% endfor %}
{% endblock %}
